doctype html
html(lang="en") 
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='Smart IT Communications is a Company that makes...')
    meta(name='author', content='')
    meta(name='keywords', content='smart it, smartitco, communications, Smart IT Communications')
    title Smart IT Communications
    // FAVICON
    link(rel='apple-touch-icon', sizes='57x57', href='/img/favicon/apple-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/img/favicon/apple-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/img/favicon/apple-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/img/favicon/apple-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/img/favicon/apple-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/img/favicon/apple-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/img/favicon/apple-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/img/favicon/apple-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/img/favicon/apple-icon-180x180.png')
    link(rel='icon', type='image/png', sizes='192x192', href='/img/favicon/android-icon-192x192.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/img/favicon/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='96x96', href='/img/favicon/favicon-96x96.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/img/favicon/favicon-16x16.png')
    link(rel='manifest', href='/img/favicon/manifest.json')
    link(rel='canonical', href='https://www.smartitco.com')
    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='msapplication-TileImage', content='/img/favicon/ms-icon-144x144.png')
    meta(name='theme-color', content='#ffffff')
    //
    link(href='/vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='/vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='//fonts.googleapis.com/css?family=Raleway', rel='stylesheet', type='text/css')
    //link(href='//fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic', rel='stylesheet', type='text/css')
    link(href='/vendor/magnific-popup/magnific-popup.css', rel='stylesheet')
    link(href='/css/creative.css', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')
    link(href='/css/animate.css', rel='stylesheet')
    link(href='/css/custom.css', rel='stylesheet')
  body#page-top
    block nav
    block content
    block footer
    script(src='/vendor/jquery/jquery.min.js')
    script(src='/vendor/bootstrap/js/bootstrap.bundle.min.js')
    script(src='/vendor/jquery-easing/jquery.easing.min.js')
    script(src='/vendor/scrollreveal/scrollreveal.min.js')
    script(src='/vendor/magnific-popup/jquery.magnific-popup.min.js')
    script(src='/js/same-height.js')
    script(src='/js/creative.js')
    script(src='/js/about.js')
    script(src='/js/slider.js')
