link(rel="stylesheet" href="css/error.css")
#clouds
    .cloud.x1
    .cloud.x1_5
    .cloud.x2
    .cloud.x3
    .cloud.x4
    .cloud.x5
.c
    ._404 404
    hr
    ._1 THE PAGE
    ._2 WAS NOT FOUND
    a.btn(href='/') BACK TO HOME