link(rel="stylesheet" href="css/error.css")
#clouds
    .cloud.x1
    .cloud.x1_5
    .cloud.x2
    .cloud.x3
    .cloud.x4
    .cloud.x5
.c
    ._404 500
    hr
    ._1 INTERNAL
    ._2 SERVER ERROR
    a.btn(href='/') BACK TO HOME